html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: grid;
  place-items: center;
  /* margin: 0 auto; */
}

body {
  text-align: center;
  background-color: #6c754f;
  /* background-color: rgb(127, 177, 159); */
}




